{% extends "base.html" %}
{% block title %}Data{% endblock %}
{% block content %}

<!-- <h4>Displaying Rides for Date {{ current.day }}</h4> -->

<h4>Displaying Rides</h4>

</br>

<table class="table">
  <tr>
    <th> Name </td>
    <th> Email </td>
    <th> Phone </td>
    <th> Date & Time </td>    
    <th> From </td>
    <th> To </td>
  </tr>

  {% for entry in data %}
  <tr>
    <td> {{ entry.name }} </td>
    <td> {{ entry.email }} </td>
    <td> {{ entry.phone }} </td>
    <td> {{ entry.datetime }} </td>
    <td> {{ entry.fromloc }} </td>
    <td> {{ entry.toloc }} </td>
  </tr>
  {% endfor %}

</table>

{% endblock %}